html,
body,
#map {
  height: 100%;
  /*   width: 95%; */
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#absolute{
    position:absolute;
    top:10px;
    right:10px;
    z-index:100;
}

.checkbox {
    background:rgba(248, 244, 247, 0.9);
    font-family: "Roboto", "Arial", sans-serif;
    top:10px;
    right:10px;
    padding:10px 20px;
    box-shadow: 5px 5px 2px #aaaaaa;
    border:none;
    font-weight: bold;
    text-align: center;
    }

.filter_selections{
    font-weight: 200;
    background:rgba(248, 244, 247, 0.9);
    position: relative;
    font-family: "Roboto", "Arial", sans-serif;
    top: 10px;
    margin-bottom: 10px;
    border:none;
    padding:10px 20px;
    box-shadow: 5px 5px 2px #aaaaaa;
    z-index:100;
    overflow:hidden;
}
.filter_selections:hover, .checkbox:hover{
    background:rgba(248, 244, 247);
}

  p, h2, h3{
    text-align: center;
    margin: 0.1px;
  }

  .dropdown-content {
    display: none;
  }
 .filter_selections:hover .dropdown-content {display: block;}